@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

thead + tbody tr:first-child {
  background-color: blueviolet;
}

tr {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

td {
  line-height: inherit;
  padding: inherit;
  border-width: 1px;
  transition: all 0.25s ease-in-out;
}

.hide tr {
  opacity: 0;
}

.hide td {
  line-height: 0;
  padding: 0;
  border-width: 0;
}

.hide tr:first-child {
  opacity: 1;
  border-width: 1px;
}
.hide tr:first-child td {
  line-height: inherit;
  padding: inherit;
}
